./2021/day10/syntaxError
./2021/day10/syntaxError2
./2021/day11/dumboFlash
./2021/day6/lanternFish
./2021/day9/lavaTubes2
./2021/day9/lavaTube2
./2021/day9/lavaTubes
./2022/day1/calorieCounting2
./2022/day1/calorieCounting
